asn1crypto==0.24.0
click==7.1.1
cryptography==2.1.4
enum34==1.1.6
Flask==1.1.1
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.1
keyring
keyrings.alt
MarkupSafe
pycrypto
pygobject
pyxdg
SecretStorage
six
Werkzeug
