<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vigenère cipher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/vizener.js') }}" defer></script>
  </head>
<body>
<div id='main-grid-container'>
    <div id="header">Vigenère cipher</div>

    <div id="text_fields">
        <div class="textarea-and-label">
            <label for="decrypted_text">Original text:</label>
            <textarea name="" id="decrypted_text" placeholder="Type something in English..."></textarea>
            <button onclick="saveTextAsFile('decrypted_text')" class="downloadTextarea">Download original text</button>
        </div>
        <div class="textarea-and-label">
            <label for="encrypted_text">Encrypted text:</label>
            <textarea name="" id="encrypted_text" placeholder="Use English alphabet"></textarea>
            <button onclick="saveTextAsFile('encrypted_text')" class="downloadTextarea">Download encrypted text</button>
        </div>
    </div>

    <div id="ket_field">
        <label for="key_input">Key</label>
        <input type="text" name="" id="key_input" placeholder="Enter key">
    </div>

    <div id="fileInput" class="mb-2">
        <label for="myFile" class="mr-2">Load text from file:</label>
        <input id="myFile" type="file">
    </div>

    <div id="commands">
        <div>
            <input type="radio" name="type" value="encrypt" id="encrypt" checked>
            <label for="encrypt">Encrypt</label>
            <input type="radio" name="type" value="decrypt" id="decrypt">
            <label for="decrypt">Decrypt</label>
        </div>
        <div>
            <a href="#" id="delete-button">Cancel</a>
            <button id="startProgram">Start</button>
        </div>
    </div>
    <div id="info-use">
        <span id="directions-span">Instructions</span>
        <span id="info-span">More about project</span>
    </div>
    <div id="hidden-divs">
        <div id="use-directions" class="hidden">
            <div>
                <u>Encryption</u>: Enter your text in field 'Original text' and enter your key. Choose encryption (if
                it's not already chosen) and click button 'Start'.
            </div>
            <div class="mt-1">
                <u>Decryption</u>: Enter your text in field 'Encrypted text'. Don't enter key. Choose decryption and
                click button 'Start'.
            </div>
            <div class="mt-1">
                If you want to load text from file, please choose if you want to do encryption or decryption so that
                it is loaded into the correct field.
            </div>
            <div class="mt-1">
                <u>Note</u>: You have to use English alphabet in order to make the algorithm work successfully. Also,
                please don't use keys longer than 1/10 of the length of the original text.
            </div>
        </div>
        <div id="use-info" class="hidden">
            <div>
                <a href="{{ url_for('static', filename='/documents/Dokumentacija.txt') }}" download>
                    Project documentation
                </a>
            </div>
            <div class="mt-1">
                Velibor Došljak, Velimir Ćorović, Andrea Vujisić | Mathematics and Computer Science, Faculty of Science and Mathematics, University of Montenegro
            </div>
        </div>
    </div>
    <!--<footer id="names">
        Velibor Došljak, Velimir Ćorović, Andrea Vujisić | Matematika i računarske nauke, PMF, UCG
    </footer>-->
</div>

<div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
</div>
</body>
</html>